{% extends 'home/base.html' %}
{% load static %}




{% block content %}
</body>
<div class="About-bg">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="aboutheading">
                <h3>AGREGAR <span class="orange_color">INFORMACIÓN</span></h3>
             </div>
          </div>
       </div>
    </div>
 </div>

 <div class="About-bg">
    <div class="container">
       <div class="row">
          <div class="col-md-12">

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid gap-3">
        <button type="submit" class="btn btn-success">Agregar</button>
    </div>
</form>
 <br><br>
 
{% if messages %}
<div class="alert alert-danger mt-3">
    <ul>
        {% for message in messages %}
       <h3 style="color: blue;"> {{ message }} </h3>
        {% endfor %}
    </ul>
</div>
{% endif %}


<img src="{% static 'home/images/turista.png' %}" alt="#" />

</div>
</div>
</div>
</div>



{% endblock content %}
