{% extends 'home/base.html' %}
{% load static %}




{% block content %}
<h1 style="color: brown;">Agregar Información</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid gap-3">
        <button type="submit" class="btn btn-success">Agregar</button>
    </div>
</form>
 <br><br>
 
{% if messages %}
<div class="alert alert-danger mt-3">
    <ul>
        {% for message in messages %}
       <h3 style="color: blue;"> {{ message }} </h3>
        {% endfor %}
    </ul>
</div>
{% endif %}
<img src="{% static 'home/images/turista.png' %}" alt="#" />

{% endblock content %}
