{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<body style="background-color: crimson;">
    
</body>
<h1>Búsqueda</h1>



<form method="post">
    
    {% csrf_token %}
    {{ form.pais.label_tag }}
    {{ form.pais }}
    <br><br>
    {{ form.ciudad.label_tag }}
    {{ form.ciudad }}
    <br><br>
    <button type="submit">Buscar</button>

</form>

<!-- Mensaje si no hay calle en esa ciudad -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


{% if calles %}
    <h3>Resultados de la búsqueda:</h3>
    
        {% for calle in calles %}
      <div>
        <img src="{% static 'home/images/location_icon.png' %}" alt="#" />
        <p style="color: brown;">  {{ calle.nombre }} </p> </div>  
        
        {% endfor %}
    
     <div  style="color: brown; transform:scale(500px, 50px) ;"> {{ map|safe }}   </div>
{% endif %}
{% endblock %}

