{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<body >
    
</body>
<div class="About-bg">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="aboutheading">
                <h3>BÚS<span class="orange_color">QUEDA</span></h3>
             </div>
          </div>
       </div>
    </div>
 </div>


 <div class="About-bg">
    <div class="container">
       <div class="row">
          <div class="col-md-12">


    <form method="post">
    
    {% csrf_token %}
    {{ form.pais.label_tag }}
    {{ form.pais }}
    <br><br>
    {{ form.ciudad.label_tag }}
    {{ form.ciudad }}
    <br><br>
    <div class="d-grid gap-3">
        <button type="submit" class="btn btn-success">Buscar</button>
    </div>

</form>




<!-- Mensaje si no hay calle en esa ciudad -->
{% if messages %}
    <ul class="alert alert-danger mt-3">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


{% if calles %}
    
<h3>Resultados de la búsqueda:</h3>
    
        {% for calle in calles %}
      <div>
       
        <p style="color: brown;">  {{ calle.nombre }} </p> </div>  
        
        {% endfor %}
    
     <div  style="color: brown; transform:scale(500px, 50px) ;"> {{ map|safe }}   </div>
{% endif %}

<img src="{% static 'home/images/bath.png' %}" alt="#" />

</div>
</div>
</div>
</div>
{% endblock %}

