{% load static %}
<footer>
    <div >
       <div >
          <div class="col-lg-3 col-md-4">
             <a href="#"><img src="{% static 'home/images/bathrooms.png' %}" alt="#" /></a>
             <!-- <ul class="contact_information">
                <li><span><img src="{% static 'home/images/location_icon.png' %}" alt="#" /></span><span class="text_cont">London 145<br>United Kingdom</span></li>
                <li><span><img src="{% static 'gome/images/phone_icon.png' %}" alt="#" /></span><span class="text_cont">987 654 3210<br>987 654 3210</span></li>
                <li><span><img src="{% static 'gome/images/mail_icon.png' %}" alt="#" /></span><span class="text_cont">demo@gmail.com<br>support@gmail.com</span></li>
             </ul> -->
             <ul class="social_icon">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
             </ul>
          </div>
          
         
                
             </div>
          </div>
       </div>
    </div>
 </footer>
 
 <div class="cpy">
    
       <div class="row">
          <div class="col-md-12">
            <p>Copyright © 2023 PROYECTO FINAL by <a href="https://html.design/">JOSE LUIS AGUILAR</a></p>
          </div>
       </div>
    
 </div>
 <!-- end footer -->