{% extends 'home/base.html' %}
{% load static %}

{% block content %}

   
{% if messages %}{{ messages }}{% endif %}
        


               <div class="col-md-5">
                  <div class="full slider_cont_section">
                     <h4> "Encuentra tu baño público:</h4>
                     <h4>Tu compañero de viaje</h4>
                     <p>¡Bienvenidos! Hoy les presentaremos una solución innovadora para uno de los problemas más comunes al viajar: 
                        encontrar baños públicos en las ciudades.
                      Nuestro programa desarrollado con Django es la respuesta a esta necesidad,
                         brindando a los viajeros una forma fácil y rápida de ubicar y acceder a baños públicos en cualquier lugar que visiten.</p>
                        
                    
                  </div>
               </div>
            
      <!-- end revolution slider -->
      <!-- section --> 
      <div class="section layout_padding">
         <div class="container">
            <div class="row">
               
            </div>
            <!-- <div class="row">
               <div class="col-md-6">
                  <img src="{% static 'home/images/blog1.png' %}" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>The biggest and most awesome camera  of  year</h4>
                     <h5>MAY 14 2019 5 READ</h5>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
               </div>
            </div> -->
            <div class="row margin_top_30">
               <div class="col-md-6">
                  <img src="{% static 'home/images/varon-del-viajero.png' %}" alt="#" />
               </div>
               <!-- <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>What 3 years of android taught me the hard way</h4>
                     <h5>MAY 19 2019  5 READ</h5>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
               </div> -->
            </div>
            
         </div>
      </div>
      <img src="{% static 'home/images/turista2.png' %}" alt="#" />
      
      <!-- Javascript files-->
      <script src="{% static 'home/js/jquery.min.js' %}"></script>
      <script src="{% static 'home/js/popper.min.js' %}"></script>
      <script src="{% static 'home/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'home/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'home/js/plugin.js' %}"></script>
      <!-- Scrollbar Js Files -->
      <script src="{% static 'home/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src=" {% static 'home/js/custom.js' %} "></script>
   </body>
</html>

{% endblock content %}