{% extends 'home/base.html' %}
{% load static %}


{% block content %}
<div class="About-bg">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="aboutheading">
                <h3>LOG<span class="orange_color">IN</span></h3>
             </div>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-3">
            <button type="submit" class="btn btn-success">Iniciar sesión</button>
        </div>
    </form>

    <img src="{% static 'home/images/turista.png' %}" alt="#" />
   </div>
</div>
</div>
</div> 
{% endblock content %}